* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Tajawal', sans-serif;
    font-size: 14px;
}

:root {
    --bc-body-color:  #0d1b2a;
    --bc-container-color:  #1b263b;
    --border-color:#415a77 ;
    --in-bc-color: #415a77 ;
    --txt-color: #aab8c9;
}

body {
    display: flex;
    direction: rtl;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
    background-color: var(--bc-body-color);
}

h1 {
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: auto;
    height: 200px;
    color:  #aab8c9;
    font-weight: bold;
    font-size: 30px;
    background-image: url(../img/date\ 1.png);
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 14px 14px 5px 14px;
    box-shadow: 0px -61px 29px #1b263bc9 inset;
    transition: .3s;
}

.container {
    width: 450px;
    height: auto;
    margin: 0px 20px 20px 20px;
    background-color: var(--bc-container-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.container div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
    flex-wrap: wrap;
    margin: 20px;
}

.container div:first-child input {
    width: 70px;
    height: 25px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    background-color: var(--in-bc-color);
    color: var(--txt-color);
    text-align: center;
    transition: 0.3s;
}

.container div:first-child input:focus {
    cursor: pointer;
    background-color: var(--txt-color);
    color: var(--in-bc-color);
    border: 2px solid var(--border-color);
    transform: scale(105%);
    outline: none;
}

.container div:nth-child(2)
{
    color: #006d77;
    display: flex;
    justify-content: center;
}

.container div button {
    width: 160px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    margin: 20px;
    font-weight: 700px;
    background-color: var(--in-bc-color);
    color: var(--txt-color);
    transition: 0.3s;
}

.container div button:hover {
    cursor: pointer;
    background-color: var(--txt-color);
    color: var(--in-bc-color);
    transform: scale(105%);
}

.container div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container div:last-child span {
    margin: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 160px;
    text-align: center;
    background-color: var(--in-bc-color);
    color: var(--txt-color);
    transition: .3s;
}

@media (max-width: 490px) {
    .container {
        width: 199px;
    }

    h1 {
        width: 199px;
        height: 200px;
        box-shadow: 0px -226px 29px #1b263bc9 inset;
    }

    .container div:first-child input {
        width: 160px;
    }
}