@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
/* start global ruels */
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", "sans-serif";
  box-sizing: border-box;
  border: none;
  outline: none;
}
/* end global ruels */
/* start background */
.back {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-object-fit: cover;
  object-fit: cover;
  z-index: -100;
}
@media (min-aspect-ratio: 16/9) {
  .back {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back {
    width: 100%;
    height: auto;
  }
}
/* end background */
body {
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin-bottom: 20px;
  font-size: 25px;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 61, 0, 0.15);
  padding: 20px;
  border-radius: 20px;
}
.container :nth-child(2),
.container :nth-child(3) {
  margin-bottom: 20px;
  text-align: center;
  padding: 5px;
  position: relative;
  border-radius: 20px;
}
.container .result {
  margin-top: 50px;
  color: #000;
  background-color: #fff;
  text-align: center;
  padding: 5px;
  height: 34px;
  position: relative;
  border-radius: 20px;
}
.container .result::before {
  content: "المبلغ بعد خصم الضريبة";
  position: absolute;
  color: #fff;
  top: -35px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}
